<!-- comments card -->
<div class="border rounded-lg py-2 bg-gray-800 mb-4">
  <p class="text-white p-2">{{comment_text}}</p>
  <p class="text-xs text-white p-2">Commented by {{comment_by}} on {{comment_date}}</p>
</div>
