<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Coders Corner</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  
  
</head>

{{!-- Main page  --}}
<body class="bg-indigo-800 text-gray-200">
  <header class="bg-indigo-800 text-gray-200 p-6 text-center mx-auto">
    <h1 class="text-6xl font-medium text-2xl font-medium">The Coder's Corner</h1>
  </header>
<nav class="bg-indigo-800 justify-center items-center text-center">
    <a href="/" class="inline-block mr-4 text-lg font-medium text-white hover:text-indigo-700">Homepage</a>
    <a href="/dashboard" class="inline-block mr-4 text-lg font-medium text-white hover:text-indigo-700">Dashboard</a>
    {{#if loggedIn}}
    <a href="/logout" id="logout" class="inline-block mr-4 text-lg font-medium text-white hover:text-indigo-700">Logout</a>
    {{else}}
    <a href="/login" class="inline-block mr-4 text-lg font-medium text-white hover:text-indigo-700">Login</a>
    <a href="/signup" class="inline-block mr-4 text-lg font-medium text-white hover:text-indigo-700">Signup</a>
    {{/if}}
</nav>
  <main class="p-6 flex">
      {{{body}}}
  </main>
  
  {{!-- add script tags to add login.js, logout.js, and signup.js files --}}
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/signup.js"></script>
 
</body>


</html>