{{!-- display users dashboard with a button centered at the bottom of the page --}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center mb-4">Blog Posts</h2>
      {{#each posts as |post|}}
        {{>blog-details}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <a href="/new-post" class="btn btn-primary">+ New Post</a>
    </div>
  </div>
</div>

