 <div class="bg-indigo-800 text-gray-200">
    <div class="container mx-auto flex flex-wrap py-6">
      <div class="w-full lg:w-2/3 p-6  flex items-center justify-center">
        <img src="/images/TheCodingCorner.png" alt="banner image" class="rounded-lg mx-auto">
      </div>
      <div class="w-full lg:w-1/3 p-6">
        <h2 class="text-3xl font-medium">Welcome to The Coder's Corner!</h2>
        <br>
        <p class="text-xl text-base font-medium">Welcome to The Coder's Corner, the ultimate destination for all things coding! Whether you're a seasoned veteran or a newbie just starting out, our community of passionate coders is here to help you grow and learn. Join us and share your knowledge, ask questions, and learn from the best. Together, we can code a brighter future. As a new site, we rely on the contributions of our community to help us jump off the ground and grow. Thanks for choosing The Coder's Corner!</p>
        <br>
        <p class="text-xl text-base font-medium">If this is your first time visiting, be sure to click the "New Member" button to join our community and start participating in our discussions and projects. We're excited to have you on board!</p>
        <br>
        <a href="/signup" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
          <button id="new-member">New Member</button>
        </a>
      </div>
      {{!-- display all the blogs  --}}
      <div class="container mx-auto flex flex-wrap py-6"></div>
  <div class="w-full blog-view p-4 ">
  <h3 class="text-lg font-medium mt-4">Blogs</h3>
 {{#each posts as |post|}}
  <a href="/post/{{post.id}}">
    <div class="my-4">
      <div class="border rounded-lg p-4">
        <div class="text-center border-b py-2">
          <h2 class="text-lg font-medium">{{post.title}}</h2>
        </div>
        <div class="text-sm text-white-600 p-4">
          <p>{{post.post_date}}</p>
          <p>By: {{post.posted_by}}</p>
        </div>
      </div>
    </div>
  </a>
{{/each}}
</div>
</div>
</div>
</div>