

<form class="signup-form bg-white p-6 rounded-lg shadow-md w-full md:w-1/2 lg:w-1/4 mx-auto my-auto text-black">
    <h2 class="text-lg text-center font-medium mb-4 text-gray-700">Signup</h2>
    <div class="mb-4">
      <label for="name-signup" class="block text-gray-700 font-medium mb-2" for="name">
        Name:
      </label>
      <input class="bg-gray-200 p-2 rounded-lg w-full" type="text" name="name" id="name-signup">
    </div>
    <div class="mb-4">
      <label for ="email-signup" class="block text-gray-700 font-medium mb-2" for="email">
        Email:
      </label>
      <input class="bg-gray-200 p-2 rounded-lg w-full " type="email" name="email" id="email-signup">
    </div>
    <div class="mb-4">
      <label for ="password-signup" class="block text-gray-700 font-medium mb-2" for="password">
        Password:
      </label>
      <input class="bg-gray-200 p-2 rounded-lg w-full" type="password" id="password-signup" name="password">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-medium mb-2" for="password2">
        Confirm Password:
      </label>
      <input class="bg-gray-200 p-2 rounded-lg w-full" type="password" id="password2" name="password2">
    </div>
    <button id="signup" class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600">Signup</button>
</form>





